.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env

# Local data artifacts
data/raw/**
!data/raw/.gitkeep
data/processed/**
!data/processed/.gitkeep

# Log files
logs/
*.log

# Temporary deployment folder
.deploy_temp/
.deploy_temp_embeddings/

# Chromadb
chroma_db/